<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConStr" connectionString="Dsn=PixelSqlBase;uid=reportuser;pwd=pixel1047" providerName="System.Data.Odbc"/>
	</connectionStrings>
	<appSettings>
		<add key="StoreId" value="230"/>
		<add key="DataSource" value="192.142.103.117:1521/SCAR"/>
		<add key="UserID" value="d"/>
		<add key="Password" value="s"/>
		<add key="Days" value="1"/>
		<add key="ClientSettingsProvider.ServiceUri" value=""/>
	</appSettings>
</configuration>