<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConStr" connectionString="Dsn=PixelSqlBase;uid=reportuser;pwd=pixel1047" providerName="System.Data.Odbc"/>
	</connectionStrings>
	<appSettings>
		<add key="StoreId" value="2"/>
		<add key="DataSource" value="cc.eoi.wecreatives.agency:1525/SCAR"/>
		<add key="UserID" value="PJSALE"/>
		<add key="Password" value="PJSALE"/>
		<add key="Days" value="1"/>
		<add key="StoreName" value="JOHAR TOWN"/>
		<add key="WhatsAppEnabled" value="true"/>
		<add key="WhatsAppToPhone" value="+923021656678"/>
		<add key="WhatsAppToken" value="hlinq7ipyknr5mu5"/>
		<add key="WhatsAppApiUrl" value="https://api.ultramsg.com/instance183080/messages/chat"/>
		<add key="ClientSettingsProvider.ServiceUri" value=""/>
	</appSettings>
</configuration>